<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/komraz</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        <mapping class="sample.entity.AdresEntity"/>
        <mapping class="sample.entity.DogovorEntity"/>
        <mapping class="sample.entity.NormativEntity"/>
        <mapping class="sample.entity.ObiemPotrEntity"/>
        <mapping class="sample.entity.ObjectEntity"/>
        <mapping class="sample.entity.PlatejEntity"/>
        <mapping class="sample.entity.PokazaniyaEntity"/>
        <mapping class="sample.entity.RaionEntity"/>
        <mapping class="sample.entity.SchetchikEntity"/>
        <mapping class="sample.entity.TarifEntity"/>
        <mapping class="sample.entity.TipElektrEntity"/>
        <mapping class="sample.entity.TipSchetchikaEntity"/>
        <mapping class="sample.entity.UrLicoEntity"/>
    </session-factory>
</hibernate-configuration>